body{
    background-color: blue;
}
.whattoknowaboutcovid19{
    background-color: red;
}
.whereandwhatithasdone{
    background-color: yellow;
}
.covid19facts{
    background-color: chartreuse;
}
.whatithasdone{
    background-color: darkblue;
}